#rx-smarter-loader-overlay {
    z-index: 1010;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(211, 211, 211, 0.4);
}

.rx-smart-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    width: 400px;
    height: 215px;
    /* color: red; */
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.cssload-preloader {
    font-family: Arial, Tahoma;
    position: absolute;
    top: 0px;
    left: 113px;
    right: 0px;
    bottom: 0px;
    z-index: 10;
    /* display: box;
		display: -o-box;
		display: -ms-box;
		display: -webkit-box;
		display: -moz-box; */
    display: flex;
    display: -o-flex;
    display: -ms-flex;
    display: -webkit-flex;
    display: -moz-flex;
    box-pack: center;
    -o-box-pack: center;
    -ms-box-pack: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    box-align: center;
    -o-box-align: center;
    -ms-box-align: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    perspective: 437px;
    -o-perspective: 437px;
    -ms-perspective: 437px;
    -webkit-perspective: 437px;
    -moz-perspective: 437px;
    overflow: hidden;
    padding-bottom: 2em;
}

#fountainTextG {
    width: 330px;
    margin: auto;
    margin-top: 88px!important;
}

.fountainTextG {
    color: rgb(16, 88, 159);
    font-family: Arial;
    font-size: 34px;
    text-decoration: none;
    font-weight: normal;
    font-style: normal;
    float: left;
    animation-name: bounce_fountainTextG;
    -o-animation-name: bounce_fountainTextG;
    -ms-animation-name: bounce_fountainTextG;
    -webkit-animation-name: bounce_fountainTextG;
    -moz-animation-name: bounce_fountainTextG;
    animation-duration: 4.55s;
    -o-animation-duration: 4.55s;
    -ms-animation-duration: 4.55s;
    -webkit-animation-duration: 4.55s;
    -moz-animation-duration: 4.55s;
    animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-direction: normal;
    -o-animation-direction: normal;
    -ms-animation-direction: normal;
    -webkit-animation-direction: normal;
    -moz-animation-direction: normal;
    transform: scale(.5);
    -o-transform: scale(.5);
    -ms-transform: scale(.5);
    -webkit-transform: scale(.5);
    -moz-transform: scale(.5);
}

#fountainTextG_1 {
    animation-delay: 1.63s;
    -o-animation-delay: 1.63s;
    -ms-animation-delay: 1.63s;
    -webkit-animation-delay: 1.63s;
    -moz-animation-delay: 1.63s;
}

#fountainTextG_2 {
    animation-delay: 1.95s;
    -o-animation-delay: 1.95s;
    -ms-animation-delay: 1.95s;
    -webkit-animation-delay: 1.95s;
    -moz-animation-delay: 1.95s;
}

#fountainTextG_3 {
    animation-delay: 2.28s;
    -o-animation-delay: 2.28s;
    -ms-animation-delay: 2.28s;
    -webkit-animation-delay: 2.28s;
    -moz-animation-delay: 2.28s;
}

#fountainTextG_4 {
    animation-delay: 2.6s;
    -o-animation-delay: 2.6s;
    -ms-animation-delay: 2.6s;
    -webkit-animation-delay: 2.6s;
    -moz-animation-delay: 2.6s;
}

#fountainTextG_5 {
    animation-delay: 2.93s;
    -o-animation-delay: 2.93s;
    -ms-animation-delay: 2.93s;
    -webkit-animation-delay: 2.93s;
    -moz-animation-delay: 2.93s;
}

#fountainTextG_6 {
    animation-delay: 3.25s;
    -o-animation-delay: 3.25s;
    -ms-animation-delay: 3.25s;
    -webkit-animation-delay: 3.25s;
    -moz-animation-delay: 3.25s;
}

#fountainTextG_7 {
    animation-delay: 3.58s;
    -o-animation-delay: 3.58s;
    -ms-animation-delay: 3.58s;
    -webkit-animation-delay: 3.58s;
    -moz-animation-delay: 3.58s;
}

#fountainTextG_8 {
    animation-delay: 3.9s;
    -o-animation-delay: 3.9s;
    -ms-animation-delay: 3.9s;
    -webkit-animation-delay: 3.9s;
    -moz-animation-delay: 3.9s;
}

#fountainTextG_9 {
    animation-delay: 4.23s;
    -o-animation-delay: 4.23s;
    -ms-animation-delay: 4.23s;
    -webkit-animation-delay: 4.23s;
    -moz-animation-delay: 4.23s;
}

#fountainTextG_10 {
    animation-delay: 4.55s;
    -o-animation-delay: 4.55s;
    -ms-animation-delay: 4.55s;
    -webkit-animation-delay: 4.55s;
    -moz-animation-delay: 4.55s;
}

@keyframes bounce_fountainTextG {
    0% {
        transform: scale(1);
        color: rgb(16, 88, 159);
    }
    100% {
        transform: scale(.5);
        color: rgb(33, 136, 216);
    }
}

@-o-keyframes bounce_fountainTextG {
    0% {
        -o-transform: scale(1);
        color: rgb(16, 88, 159);
    }
    100% {
        -o-transform: scale(.5);
        color: rgb(33, 136, 216);
    }
}

@-ms-keyframes bounce_fountainTextG {
    0% {
        -ms-transform: scale(1);
        color: rgb(16, 88, 159);
    }
    100% {
        -ms-transform: scale(.5);
        color: rgb(33, 136, 216);
    }
}

@-webkit-keyframes bounce_fountainTextG {
    0% {
        -webkit-transform: scale(1);
        color: rgb(16, 88, 159);
    }
    100% {
        -webkit-transform: scale(.5);
        color: rgb(33, 136, 216);
    }
}

@-moz-keyframes bounce_fountainTextG {
    0% {
        -moz-transform: scale(1);
        color: rgb(16, 88, 159);
    }
    100% {
        -moz-transform: scale(.5);
        color: rgb(33, 136, 216);
    }
}

.lds-spinner {
    color: #2188D8;
    display: inline-block;
    /* position: relative; */
    width: 64px;
    height: 64px;
    position: absolute;
    top: 35%;
    margin-left: 39px!important;
}

.lds-spinner div {
    transform-origin: 32px 32px;
    animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 29px;
    width: 5px;
    height: 14px;
    border-radius: 20%;
    background: #2188D8;
}

.lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}

@keyframes lds-spinner {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}