<div id="main-layout" class="container-fluid no-gutters">
    <div id="flex-content-layout" class="container-fluid no-gutters" fxLayout="column">
       
        <app-site-header></app-site-header>
        <!--End of  header-layout -->

        <!-- end of  banner  content-->

        <app-site-content-layout></app-site-content-layout>

        <!-- end of  site-content-->

    </div>
    <!-- End of flex-content-layout -->

</div>
<!-- End of main-layout -->