<div> 
    <div class="content-container">
        <span class="content-span">{{data.message}}</span>
    </div>
    <!-- <button class="mat-flat-button" id="no-button" (click)="yes()" [mat-dialog-close]="true">OK</button> -->
    <!-- <button class="mat-flat-button" id="yes-button" (click)="close()" [mat-dialog-close]="false">Cancel</button> -->
</div>
