html,
body {
    -webkit-box-sizing: border-box!important;
    -moz-box-sizing: border-box!important;
    box-sizing: border-box!important;
    /* font-family: "roboto", "Cambria"; */
    margin: 0px!important;
    padding: 0px!important;
    overflow-x: hidden!important;
    background-color: #F0F4F4;
    /* height:100%; */
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box!important;
    -moz-box-sizing: border-box!important;
    box-sizing: border-box!important;
}

#main-layout {
    background-color: #EFEFEF !important;
    height: 100%;
    /* height: 99.90vh; */
    width: 100vw;
    -webkit-box-sizing: border-box!important;
    -moz-box-sizing: border-box!important;
    box-sizing: border-box!important;
    margin: 0px!important;
    padding: 0px!important;
    /* overflow-x: hidden!important; */
    position: relative!important;
    min-height: 657px;
}

#flex-content-layout {
    min-height: 100vh;
    height:100%;
    overflow: visible;
    position: relative!important;
    background-color: #F6F6F6 !important;
    padding: 0px!important;
    /* height:1500px; */
}

/* #header-layout~div {
    color: white!important;
    z-index: 1001;
} */


/** IE 9,10,11 */

@media screen and (min-width:0\0) {
    /* Enter CSS here */
    /* .footer {
        position:fixed!important;
    } */
}


/** IE 8,9,10 */

@media screen\0 {
    /* .footer {
        position:fixed!important;
    } */
}


/** IE 6,7,8 */

@media \0screen\,screen\9 {
    /* .footer {
        position:fixed!important;
    } */
}


/* @media (min-device-width: 576px) and (max-device-width: 1024px) and (orientation: landscape)  {
      footer {
        position: static;
      }
		} */


/*
		https://www.w3.org/WAI/WCAG21/Techniques/css/C34.html
		https://designtheway.com/fixed-header-on-scroll/
		*/

.cdk-overlay-container {
    z-index: 1050;
}

.mat-menu-panel {
    background-color: #FFFFFF !important;
}

.mat-menu-item {
    color: #666666;
}

.mat-menu-item-submenu-trigger::after {
    color: black;
}


/* .mat-menu-item button:focus {
			outline: 0!important;
			box-shadow: none!important;
			} */

button:focus {
    outline: 0!important;
    box-shadow: none!important;
}
.btn.focus, .btn:focus {
    outline: 0!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}
a:focus,
button:focus,
input:focus,
textarea:focus {
outline: none !important;
}
*:focus {
    outline: none !important;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}
/* #header-layout .fixed-top {
    right: 16px!important;
} */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
