<div class="text-danger errornotification" *ngIf="control && control.errors && (control.dirty || control.touched)">
    <div *ngIf="control.errors.required"><small>This field is required</small></div>
    <div *ngIf="control.errors.unique"><small>{{control.errors.unique}}</small></div>
    <div *ngIf="control.errors.lessThen"><small>{{control.errors.lessThen}}</small></div>
    <div *ngIf="control.errors.greaterThan"><small>{{control.errors.greaterThan}}</small></div>
    <div *ngIf="control.errors.email"><small>Please enter a valid email</small></div>
    <div *ngIf="control.errors.mobile"><small>Should be numbers</small></div>
    <div *ngIf="control.errors.validateAlphabets"><small>Should be characters</small></div>    
    <div *ngIf="control.errors.mobileMinLength"><small>Minimum length should be 9 or 10</small></div>
    <div *ngIf="control.errors.minlength3"><small>Minimum length should be 3 atleast</small></div>
    <div *ngIf="control.errors.minlength8"><small>Minimum length should be 8 atleast</small></div>
    <div *ngIf="control.errors.mobileMaxLength"><small>Maximum length should should not exceed 10</small></div>
    <div *ngIf="control.errors.confirmPassword"><small>{{control.errors.confirmPassword}}</small></div>
    <div *ngIf="control.errors.atleastOneCharacter"><small>Must contain at least one letter</small></div>
    <div *ngIf="control.errors.atleastOneDigit"><small>Must contain at least one number</small></div>
</div>
